#tooltip{
    width : 250px;
    margin: 10px auto;
}
#tooltip span{
    display: none;
}
#tooltip:hover span {
    display:block;
    position:absolute;
    overflow:hidden;
    font-weight: bold;
    background-color: #58bb48;
    border-radius: 3px;
    padding: 10px;
    z-index: 10000;
}
#tooltip-span{
    position: relative;
    top: 50px;
}