#tooltip{
    width : 250px;
    margin: 10px auto;
}
#tooltip span{
    display: none;
}
#tooltip:hover span {
    display:block;
    position:absolute;
    overflow:hidden;
    font-weight: bold;
    background-color: #58bb48;
    border-radius: 3px;
    padding: 10px;
    z-index: 10000;
}
#tooltip-span{
    position: relative;
    top: 50px;
}

/* D3 */
.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
    z-index: 90;
}
.grid path {
  stroke-width: 0;
    z-index: 100000;
}
.label{
    color: #000;
}
.line {
  fill: none;
  stroke: #3276b1;
  stroke-width: 2px;
}
.axis{
    z-index: 1000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* responsive donut charts */
.donut-chart{
  height: 100%;
  float: left;
}

/* slider for donut chart */
#slider {
  width: 75%;
  margin: 2em auto 1em;
}
.svg-container {
  margin: 3em auto 0;
  width: 350px;
  height: 350px;
}