<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  
  <link rel="manifest" href="/static/imgs/icons/manifest.json" />
  <link rel="apple-touch-icon" sizes="57x57" href="/static/imgs/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/static/imgs/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/static/imgs/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/imgs/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/imgs/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/static/imgs/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/static/imgs/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/static/imgs/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/imgs/icons/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/imgs/icons/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/static/imgs/icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/icons/favicon-16x16.png" />

  {% block sub_css %}{% endblock sub_css %}
  <title>Django Getting Started with Docker</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started with Ruby on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">Getting Started with Clojure on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala on Heroku</a></li>
            <li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}{% endblock content %}
<!-- script references -->
<script type="text/javascript" src="/static/js/jquery.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/angular.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/angular-route.js" charset="UTF-8"></script>
{% block sub_js %}{% endblock sub_js %}
</body>
</html>