{% extends 'base.html' %}
{% block content %}
<div ng-controller="indexCtrl as ctrl" ng-init="ctrl.init()">
    <div ng-include="'my_ng_templates/banner.html'"></div>
    <!-- /container full -->

    <div class="container">
        <hr>
        <div class="row">
            <div ng-view></div>
        </div>
        <div ng-include="'my_ng_templates/footer.html'"></div>
    </div>
</div>
{% endblock %}

{% block sub_js %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}